*_venv/
.env
.streamlit/

data/*
#!data/chroma
!data/index_store.json
!data/default__vector_store.json
!data/docstore.json
!data/graph_store.json
!data/image__vector_store.json

*.ipynb
__pycache__/

project_doc.md